@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {

}
.container-fluid{
    padding: 0px !important;
}
/*---------------HEADER -------------------------
------------------------------------------------- */




header{
    background: #1d1d1d;
}
header ul {
    float: right;
    margin-left: 40px;

}
header ul li{
    margin-right: 80px;
    display: inline-block;
}
header ul li a{
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    line-height: 53px;
    padding: 20px 8px;
    color: white;
}
header ul li a:hover{
    border-right: #FFFFFF solid 1px;
    border-left:  #FFFFFF solid 1px;
    text-decoration: none;
    color:red;
}

.recherche{
    float: right;
    padding: 16.5px 0px;
    margin: 0px;
}
/* ----------------CONTENU--------------

-------------------------------------- */

main{

}
main div {

}
h2 a {
    color: black;
    text-decoration: underline;
}
main h3 {
    color: #181818;
}
